name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    -  name: Checkout Code
       uses: actions/checkout@v4
    - name: Check commit message for "docker"
      id: check
      run: |
        COMMIT_MSG="${{ github.event.head_commit.message }}"
        echo "Commit message: $COMMIT_MSG"
        if [[ "$COMMIT_MSG" == *"[docker]"* ]]; then
          echo "build=true" >> $GITHUB_OUTPUT
        else
          echo "build=false" >> $GITHUB_OUTPUT
        fi
    - name: Log in to Docker Hub
      if: steps.check.outputs.build == 'true'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push image
      if: steps.check.outputs.build == 'true'
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          pkdiv/no-as-a-service:latest
          pkdiv/no-as-a-service:${{ github.sha }}
